@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@900&display=swap');

.navbar {
    padding: 0px;
    text-align: center;
}

.my-dark {
    background-color: #1a1a1a;
}
.my-container {
    line-height: 42px;
}
#meg-logo {
    padding-top: 5px;
    padding-bottom: 5px;
}

#releases {
    background-color: #FFDD55;
}
#artists {
    background-color: #80FFE6;
}
#about {
    background-color: #FFAEAE;
}
#get-in-touch {
    background-color: #B7FFA5;
}
.my-nav {
    width: 100%;
}
.my-nav a {
    color: #1a1a1a;
}
.navbar-collapse {
    width: 100%;   
}
.my-container button {
    margin-right: 2%;

}
.my-container button:focus {
    border-color: #f9f9f9;
    outline: none;
}

#menu-lines {
    color: #f9f9f9;
}



@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        width: 110px;
    }
}

