@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
/*
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Monoton', cursive;
*/

/*----------------------------------------- Release Covers */

#mitti {
    background-image: url(images/mitticover.jpg);
}
#deepfake {
    background-image: url(images/deepfakecover.jpg);
}
#muchbetter {
    background-image: url(images/muchbettercover.jpg);
}
#prettypicture {
    background-image: url(images/prettypicturecover.jpg);
}
#slippyguppy {
    background-image: url(images/slippyguppycover.jpg);
}
#campfire {
    background-image: url(images/campfirecover.jpg);
}

/*----------------------------------------- Standard CSS */

body {
    padding: 0px;
    margin: 0px;
    background-color: #f9f9f9;
    font-family: 'Noto Sans', sans-serif;
}

.navbar {
    padding: 0px;
    text-align: center;
}

.my-dark {
    background-color: #1a1a1a;
}
.my-container {
    line-height: 42px;
    max-width: 100%;
}
#meg-logo {
    height: 48px;
}

#releases {
    background-color: #FFDD55;
}
#artists {
    background-color: #80FFE6;
}
#about {
    background-color: #FFAEAE;
}
#get-in-touch {
    background-color: #B7FFA5;
}
.my-nav {
    width: 100%;
}
.my-nav a {
    color: #1a1a1a;
    font-family: 'Noto Sans TC', sans-serif;
}
.navbar-collapse {
    width: 100%;   
    position: relative;
    z-index: 1;
}
.my-container button {
    margin-right: 2%;

}
.my-container button:focus {
    border-color: #f9f9f9;
    outline: none;
}

#menu-lines {
    color: #f9f9f9;
}

/* hero */
.hero {
    width: 100%;
    height: 80vh;
    background-image: url(images/phone-img.png);
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}
.hero-details {
    padding: 0px;
    margin: 0px;
}
.hero h1, h2, p {
    text-align: center;
    color: #f9f9f9;
    text-shadow: 0px 0px 4px #646464;
}
.hero h1 {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    font-size: 500%;
    line-height: 60%;
}
.hero h2 {
    font-family: 'Monoton', cursive;
    font-size: 500%;
    line-height: 100%;
    padding-bottom: 5px;
}

.myButton {
	width: 150px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(rgba(233, 233, 233, 0.219));
	border: 3px solid #f9f9f9;
    border-radius: 2px;
	display: block;
	cursor: pointer;
	color: #f9f9f9;
	text-decoration: none;
	text-shadow: 0px 0px 4px #646464;
    margin: 0px auto;
}

.myButton:hover {
	background-color: #f9f9f97c;
    color: #f9f9f9;
}
.myButton:active {
	position:relative;
	top:0px;
    color: #f9f9f9;
}

/* the releases CSS is below */
section {
    position: relative;
}

.release-container {
    width: 250px;
    height: 360px;
    background-color: #f9f9f9;
    text-align: center;
    margin: 20px auto;
}
.release-cover {
    margin: 10px auto;
    width: 230px;
    height: 230px;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    background-size: cover;
}
.release-details {
    color: #1a1a1a;
}
.release-details h2, h3 {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    font-size: 117%;
}
.release-details h2 {
    margin-top: 12px;
}
.release-details ul {
    margin-top: 15px;
}
.release-details ul li a svg {
    width: 25px;
    height: 25px;
}
@media (min-width: 412px) {
    .hero {
    background-image: url(images/tablet-img.png);
    }
    .release-container {
        border: 1px solid #dcdcdc;
        border-radius: 4px;
    }
}
@media (min-width: 781px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        width: 110px;
    }
    #meg-logo {
    margin-left: 0px;
    }
    .hero {
    background-image: url(images/desktop-img.png);
    }

    .release-container {
        width: 320px;
        height: 470px;
        border-radius: 5px;
    }
    .release-cover {
        margin: 10px auto;
        width: 300px;
        height: 300px;
    }
    .release-details h2, h3 {
        font-size: 150%;
    }
    .release-details h2 {
        margin-top: 15px;
    }
    .release-details ul {
        margin-top: 25px;
    }
    .release-details ul li a svg {
    width: 37px;
    height: 37px;
    }
}


